In [3]:
# A script for converting json data to pandas table format

import json
import pandas as pd

# At first, JSON data from below location is collected as json_data using any of the methods
# root_dir ="./work_dir/nnUNet_trained_models/Dataset001_nnTest01/ensembles/ensemble___nnUNetTrainer_150epochs__nnUNetPlans__2d___nnUNetTrainer_150epochs__nnUNetPlans__3d_cascade_fullres___0_1_2_3_4"
# df = pd.read_json('../tempjson.json', orient='values')
json_data={
    "foreground_mean": {
        "Dice": 0.8795301790109995,
        "FN": 10856.866666666665,
        "FP": 10695.68,
        "IoU": 0.7966851825679451,
        "TN": 1489400.0933333333,
        "TP": 127447.36000000002,
        "n_pred": 138143.03999999998,
        "n_ref": 138304.22666666665
    },
    "mean": {
        "1": {
            "Dice": 0.9383749701268402,
            "FN": 17159.866666666665,
            "FP": 21921.266666666666,
            "IoU": 0.887153102176922,
            "TN": 1280331.6,
            "TP": 318987.26666666666,
            "n_pred": 340908.5333333333,
            "n_ref": 336147.13333333336
        },
        "2": {
            "Dice": 0.9322509457198507,
            "FN": 9072.866666666667,
            "FP": 6782.933333333333,
            "IoU": 0.8741989102548614,
            "TN": 1502560.2666666666,
            "TP": 119983.93333333333,
            "n_pred": 126766.86666666667,
            "n_ref": 129056.8
        },
        "3": {
            "Dice": 0.7808023292932239,
            "FN": 15811.133333333333,
            "FP": 12293.333333333334,
            "IoU": 0.6519906375572597,
            "TN": 1548225.1333333333,
            "TP": 62070.4,
            "n_pred": 74363.73333333334,
            "n_ref": 77881.53333333334
        },
        "4": {
            "Dice": 0.8276230992644017,
            "FN": 1396.6,
            "FP": 482.26666666666665,
            "IoU": 0.719838039492187,
            "TN": 1630791.2666666666,
            "TP": 5729.866666666667,
            "n_pred": 6212.133333333333,
            "n_ref": 7126.466666666666
        },
        "5": {
            "Dice": 0.9185995506506816,
            "FN": 10843.866666666667,
            "FP": 11998.6,
            "IoU": 0.8502452233584948,
            "TN": 1485092.2,
            "TP": 130465.33333333333,
            "n_pred": 142463.93333333332,
            "n_ref": 141309.2
        }
    }
}
    
df = pd.json_normalize(json_data,max_level=2)
display(df)

,foreground_mean.Dice,foreground_mean.FN,foreground_mean.FP,foreground_mean.IoU,foreground_mean.TN,foreground_mean.TP,foreground_mean.n_pred,foreground_mean.n_ref,mean.1.Dice,mean.1.FN,...,mean.4.n_pred,mean.4.n_ref,mean.5.Dice,mean.5.FN,mean.5.FP,mean.5.IoU,mean.5.TN,mean.5.TP,mean.5.n_pred,mean.5.n_ref
0,0.87953,10856.866667,10695.68,0.796685,1.489400e+06,127447.36,138143.04,138304.226667,0.938375,17159.866667,...,6212.133333,7126.466667,0.9186,10843.866667,11998.6,0.850245,1485092.2,130465.333333,142463.933333,141309.2

In [4]:
# Create a sample single-row DataFrame with 48 columns
single_row_df = pd.json_normalize(json_data,max_level=2)
# Reshape the single-row DataFrame into a 6x8 DataFrame
reshaped_df = pd.melt(single_row_df, var_name='column_group', value_name='value')

# Split the 'column_group' into separate columns
reshaped_df['row'] = reshaped_df.index // 8
reshaped_df['column'] = reshaped_df.index % 8

# Pivot the reshaped DataFrame to get the desired 6x8 structure
final_df = reshaped_df.pivot(index='row', columns='column', values='value')

# Display the resulting DataFrame
final_df.columns =['Dice','FN','FP','IoU','TN','TP','n_pred','n_ref']
final_df.index = ['Mean','Excluded organs','SubcutFat','IntFat','Psoas','Muscle']
display(final_df)

,Dice,FN,FP,IoU,TN,TP,n_pred,n_ref
Mean,0.879530,10856.866667,10695.680000,0.796685,1.489400e+06,127447.360000,138143.040000,138304.226667
Excluded organs,0.938375,17159.866667,21921.266667,0.887153,1.280332e+06,318987.266667,340908.533333,336147.133333
SubcutFat,0.932251,9072.866667,6782.933333,0.874199,1.502560e+06,119983.933333,126766.866667,129056.800000
IntFat,0.780802,15811.133333,12293.333333,0.651991,1.548225e+06,62070.400000,74363.733333,77881.533333
Psoas,0.827623,1396.600000,482.266667,0.719838,1.630791e+06,5729.866667,6212.133333,7126.466667
Muscle,0.918600,10843.866667,11998.600000,0.850245,1.485092e+06,130465.333333,142463.933333,141309.200000